body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#f3f1d3, #f8bbf1);
  color: #2a2a2a;
  font-family: 'Dancing Script', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 10%;
  position: relative;
  min-height: 100vh;
}

#modal {
  
}
